.navbar {
  background-color: #004b87;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px;
  font-family: 'Segoe UI', sans-serif;
}

.navbar-left .nav-logo {
  font-size: 1.5rem; /* Tamaño más grande */
  font-weight: 700;
  color: white;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Enlaces dentro del navbar */
.navbar-right a,
.navbar-button {
  color: white;
  text-decoration: none;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-right a:hover,
.navbar-button:hover {
  text-decoration: underline;
}